# This is a pip 'requirements.txt' file
# See https://pip.pypa.io/en/stable/reference/requirements-file-format/

#
# PYTHON TOOLS
#
black
build
coverage-threshold
flake8
mypy
pyspelling
pytest-asyncio
pytest-xdist
azure-storage-blob==12.14.1
coverage==7.0.*
configargparse==1.5.3
rope==1.6.*
pytest==7.2.*
pytest-mock==3.10.*
virtualenv==20.*
pydantic==2.10.5
pydantic-settings==2.7.1

#
# PROJECT DEPENDENCIES
#
azure-core>=1.30.0,<2.0.0
azure-identity==1.12.0
azure-keyvault-secrets==4.7.0
azure-monitor-opentelemetry>=1.6.0,<2.0.0
azure-monitor-query==1.2.0
databricks-cli==0.18
delta-spark==3.1.0
dependency_injector==4.43.0
pyyaml==6.0.2
pyspark>=3.5.0

# Custom Packages
#opengeh-telemetry @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages@3.0.1#subdirectory=source/telemetry
opengeh-telemetry @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages.git@xtecl/test_logging_config#subdirectory=source/telemetry
