# This is a pip 'requirements.txt' file
# See https://pip.pypa.io/en/stable/reference/requirements-file-format/

#
# PYTHON TOOLS
#
black
build
coverage-threshold
flake8
mypy
pyspelling
pytest-asyncio
pytest-xdist

#
# PROJECT DEPENDENCIES
#

dependency_injector == 4.41.0
delta-spark==3.1.0
